body {
  position: relative;
}

.player-name-form {
  
  width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    /*padding: 5rem;*/
}

.player-name-form label {
  color: #FFF;
}
/*.player-name-form:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -290%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
  }*/
.player-name-form input {
  width: 100%;
  border: 1px solid #000000;
  margin: 0.25rem 0 0.5rem;
  padding: 0 0.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  border-radius: 3px;
}
.player-name-form button {
  border: 1px solid #000;
  background: #ffffff;
  width: 10rem;
  height: 1.5rem;
  box-sizing: border-box;
  font-size: 0.8rem;
  border-radius: 3px;
}
